<div class="note">

  <div class="created_at"><%= note.created_at.strftime("%B %d, %Y ") %></div>
  <div class="name">
    Name:<%= link_to note.name, note %><br>
     
  </div>

</div>
<style>
   div.text-right{
     float: right;
}
</style>